.nano::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: white;
}
.nano{
    height: 100%;
    position: relative;
    overflow-y: auto;
    width: 100%;    
    background: #295488;
}
body{
    font-family: "serif", Arial, sans-serif;
    line-height: 22px;
    font-size: 14px;
}
.custom-datepick{
    .react-datepicker__input-container {
        position: absolute;
        display: block;
        width: 88%;
    }
}
.video-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .video-time{
        height: 70px;
        width: 70px;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 30px;
        line-height: 70px;
        margin: 120px auto 100px;
    }
    &.video-numbering{
        transform: translate(-50%, 330%);
    }
}
.sidebaropen{
    header{
        &.header-left{
            left: 65px;
        }
    }    
}
.widget-header{
    .widget-toggle{
        &.session-angle{
            transform: rotate(90deg);
        }
    }    
}

.model-vlis{
    position: absolute;
    z-index: 11111;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    /* margin: auto; */
    /* overflow-y: auto; */
    background: #2e353e;
}
.popup-body{
    &.h524{
        min-height: 524px;
    }
}
.vlis-toggle{
    .fa-toggle-on:before{
        color: green;
    }
    .fa-toggle-off:before {
        color: red;
    }
}
.mt-m5{    
    margin-top: -5px;
}
.user-icon{
    i{
        font-size: 17px;
        background: transparent;
    }
}
.post-info a:not([href]):hover, .post-info a:not([href]):focus{
	color: #0088cc;
	text-decoration:underline;
}