<!DOCTYPE html>
<html>
<head>
  <title>Video Example</title>
</head>
<body>
  <h2>Serving video files from Flask template</h2>
  <video width="320" height="240" controls>
    <source src={{ url_for('static', filename="1/webmm.webm") }}>
    
    Your browser does not support the video tag.
  </video>
</body>
</html>