/********* margin & padding  **********/

$spaceamounts: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 32, 35, 37, 38, 40, 41, 42, 48, 50, 55, 60, 65, 67, 70, 74, 80, 85, 95, 100);

$sides: (top, bottom, left, right, all);
 
@each $space in $spaceamounts {
  @each $side in $sides {
 
    @if $side == 'all' {
      .m#{$space} {
        margin: #{$space}px;
      }
 
      .p#{$space} {
        padding: #{$space}px;
      }
    } @else {
      .m#{str-slice($side, 0, 1)}#{$space} {
        margin-#{$side}: #{$space}px;
      }
 
      .p#{str-slice($side, 0, 1)}#{$space} {
        padding-#{$side}: #{$space}px;
      }
    }
  }
}

/********* margin & padding  **********/

 

.sidebaropen{
  padding-left: 73px;
  height: 100%;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.sidebarclosed{
  padding-left: 300px;
  height: 100%;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.blockly{
  height: 100%;
}

.sidebaropen > div[class="blockly"] > section[class="content-body"],
.sidebaropen > div[class="blockly"] > section[class="content-body"] > div[class=""],
.sidebaropen > div[class="blockly"] > section[class="content-body"],
.sidebaropen > div[class="blockly"] > section[class="content-body"]  > div[class=""],
.sidebarclosed > div[class="blockly"] > section[class="content-body"],
.sidebarclosed > div[class="blockly"] > section[class="content-body"] > div[class=""],
.sidebarclosed > div[class="blockly"] > section[class="content-body"],
.sidebarclosed > div[class="blockly"] > section[class="content-body"]  > div[class=""] {
  height: 100%; 
  padding: 20px 0px 25px 0px;
}


