.collapse-tab-content{
    .table{
        thead{
            th{
                color: #808697
            }
        }
    }
}

.edit-user{
    margin-top:10px;
    img{
        width: $value80;
        height: $value80;
        border-radius: $per-50;
        border: 1px solid gray;
    }
    &.profile{
        width: 80px;
        margin: 20px auto;
        position: relative;
        label{
            position: absolute;
            bottom: 0;
            right: 2px;
            background: #5077f2;
            color: #fff;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            font-size: 12px;
            line-height: 25px;
            margin-bottom: 0;
        }
        input{
            display: none;
        }
    }
}

.custom-ui {
    text-align: center;
    width: 500px;
    padding: 40px;
    background:#1d2027;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
    color: #aab4bd;
  }
  
  .custom-ui > h1 {
    margin-top: 0;
  }
  
  .custom-ui > button {
    width: 160px;
    padding: 10px;
    border: 1px solid #aab4bd;
    margin: 10px;
    cursor: pointer;
    background: none;
    color: #aab4bd;
    font-size: 14px;
  }