$label-grey: #7b7b7b;
$placeholder-grey: #cecccc;
$envelope-color: #7b7b7b69;
$black: #343333;
$red: #f40e29;
$green: #15c67f;
$sort-grey: #c1c0c0;
$action-icon-grey: #949494;
$pagination-text: #c2c2c2;
$theme-violot: #5458b3;
$theme-orange: #f47b25;
$bg-head-grey: #eff2f7;

/******* dev 1 **********/

$white: #ffffff;
$theme-color: #383FA2;
$purple1:#1B1D39;
$purple2:#2B2F68;

$grey1:#BAB9B9;
$grey2:#d0d0d0;
$grey3:#656464;
$grey4:#e3e4e5;

$orange:#F47B25;

$light_grey_color: #E9E9E9; 
$medium_grey_color: #F8FAFE;
$link_color: #8492af;   
$grey:grey;
$notification-selected :#f0f7ee;
$select_color:#dfe3e9;
$transparent : transparent;
$black:black;
$milde-black: #575757;
$dark-grey:#a9a9a9;
$time-color : #9f9f9f;
$notification-title: #767676;

/***** display properties ****/
$inline-block : inline-block;
$block: block;
$none:none;

/***** pointer properties ****/
$pointer : pointer;

$bggrey:#EFEFEF; 
$btn-green: #2eab77;
$btn-red: #e43741;
$grey:#7c7c7c;
$light-white:#f9f9f9;

$value80:80px;
$per-50:50%;