
@media (max-width: 768px){

        
.own-sidemenu-main{
    &.closed{
        display: none;
    }
}

.sidebarclosed,
.sidebaropen{
   margin-left: 7px !important;
}

    
}
@media (max-width: 767px){
    
    
.own-sidemenu-main{
    &.closed{
        display: none;
    }
}

}
@media screen and (min-width: 320px) and (max-width: 1199px) {
	
        .flex-result{
            flex: 0 0 100%;
            max-width: 100%;    
            .embed-responsive{
                width: 100% !important;
            }
        }
        .scan-result{
            clear: both;
            display: block;
            max-width: 100%;
            flex: 0 0 100%;
        }
        .user-result{
            flex: 0 0 75%;
            max-width: 75%;
        }
}



@media screen and (min-width: 320px) and (max-width: 1313px) {
	
    .flex-result{
        flex: 0 0 100%;
        max-width: 100%;    
        .embed-responsive{
            width: 100% !important;
        }
    }
}