.chart-body {
    background: transparent;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
    border-radius: 5px;
    width: 93%;

    /* height: 374px !important; */
}
 
.ReactChart  {
    width: 100% !important;
    height: 263px !important;
    /* position: relative; */
}

.chart-bottom{
    margin-bottom: 50px;
    width: 100% !important;
}

.container > h3{
    text-align: center;
}

.graph-wrapper{
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #0088cc;
    border-radius: 5px 0 5px 5px;
}

.patients{
    text-align: left;
}

.react-daterange-picker__inputGroup__input.react-daterange-picker__inputGroup__year{
    width : 34px !important
}

.react-daterange-picker__inputGroup__input.react-daterange-picker__inputGroup__day{
    width : 17px !important ;
    text-align: right;
}

.react-daterange-picker{
    float: right;
}

.selectCity{
    background-color: transparent;
    border-radius: 0px;
    border: 1px black solid ;
}