 


.react-confirm-alert{
    margin-left: 23% !important;
}
@media (min-width:480px){
    .user-result{
        width: 100% !important;
    }
}



/* new date picker css */
.react-datepicker{
    position: absolute;
     z-index: 9;
 }

 .react-datepicker-input.has-value input {
    text-align: left 
 }
 .icon-rc-datepicker{
    color: #264669;
    font-size: 25px;
 }